<%= javascript_include_tag "ohsnap", "data-turbolinks-track" => true  %>
<div class="myBox">
  <div data-role="content">
    <div id="ohsnap"></div>
  </div>
  <div class="containmsg">
    <div>

        <div style="display:flex;"><label for="tofield">To &nbsp;</label> <%= @message_quote.user.username %></div>
        <div class="break"></div>
       <%= form_tag messages_path, method: :post do %>
  <div class="form-group">
    <%= hidden_field_tag 'message[subject]', "nothing" %>
  </div>

  <div class="form-group">
    <%= label_tag 'message[body]', 'Message' %>
    <%= text_area_tag 'message[body]', nil, cols: 3, class: 'form-control mymsg', required: true %>
  </div>

    <%= hidden_field_tag 'recipients', @message_quote.user.id %>
  <%= submit_tag('Send')%>
<% end %>
              </div>
              </div>
              </div>
              <script>
                  $("h1.header-title").html("Messages");
              </script>

