            <div data-role="header" data-tap-toggle="false" data-theme='a'>
                <a href='#sidebar' data-role="none"><img src="images/menu-icon.png" alt="sidebar" id="header-menu-icon" /></a>
                <h1 class="header-title">[header title]</h1>
            </div>



men: <%= @quote.men %> <br>
women: <%= @quote.women %> <br>
min: <%= @quote.min %> <br>
max: <%= @quote.max %> <br>
bottles: <%= @quote.bottles %> <br>
venues: <%= @quote.venues %> <br>
date: <%= @quote.date %> <br>
comments: <%= @quote.comments %> <br>
city: <%= @quote.location %>
<p><%= link_to 'Start conversation', new_message_path(quote_id: @quote.id) %></p>