<p>
  <%= render 'conversations/participants', conversation: @conversation %>
</p>

<div class="panel panel-default">

  <div class="panel-body">
    <div class="messages">
      <% @conversation.receipts_for(current_user).order(created_at: :asc).each do |receipt| %>
        <div class="media">
          <% message = receipt.message %> <br>
           <%= message.body %> - <%= message.sender.name %> <br>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= form_tag reply_conversation_path(@conversation), method: :post do %>
  <div class="form-group">
    <%= text_area_tag 'body', nil, cols: 3, class: 'form-control', placeholder: 'Type something...', required: true %>
  </div>
  <%= submit_tag "Send", class: 'btn btn-primary' %>
<% end %>

<p>Request</p>
men: <%= @message_quote.men %> <br>
women: <%= @message_quote.women %> <br>
min: <%= @message_quote.min %> <br>
max: <%= @message_quote.max %> <br>
bottles: <%= @message_quote.bottles %> <br>
venues: <%= @message_quote.venues %> <br>
date: <%= @message_quote.date %> <br>
comments: <%= @message_quote.comments %> <br>
city: <%= @message_quote.location %>