            <div data-role="header" data-tap-toggle="false" data-theme='a'>
                <a href='#sidebar' data-role="none"><img src="images/menu-icon.png" alt="sidebar" id="header-menu-icon" /></a>
                <h1 class="header-title">[header title]</h1>
            </div>

<p>
  <%= render 'conversations/participants', conversation: @conversation %>
</p>

<div class="panel panel-default">

  <div class="panel-body">
    <div class="messages">
      <% @conversation.receipts_for(current_user).order(created_at: :asc).each do |receipt| %>
        <div class="media">
          <% message = receipt.message %> <br>
           <%= message.body %> - <%= message.sender.name %> <br>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= form_tag reply_conversation_path(@conversation), method: :post do %>
  <div class="form-group">
    <%= text_area_tag 'body', nil, cols: 3, class: 'form-control', placeholder: 'Type something...', required: true %>
  </div>
  <%= submit_tag "Send", class: 'btn btn-primary' %>
<% end %>
